# Project binding

- project_id: {{PROJECT_ID}}
- project_name: {{PROJECT_NAME}}
- github_repository: {{GITHUB_REPOSITORY}}
- google_drive_root: {{DRIVE_ROOT_URL}}
- google_drive_root_id: {{DRIVE_ROOT_ID}}
- template_source_repository: {{TEMPLATE_SOURCE_REPOSITORY}}
- template_source_ref: {{TEMPLATE_SOURCE_REF}}
- template_version: {{TEMPLATE_VERSION}}
- initialized_at: {{INITIALIZED_AT}}
- timezone: Asia/Seoul
